
* {
  box-sizing: border-box;  
  font-family: 'Roboto', sans-serif;
  margin: 0;
}

/* GRID */

@media (min-width: 768px) {
  .container {
    margin: 1% auto;
    max-width: 1200px;
    width: 100%;
  }
  
  .row::after {
    content: "";
    display: table;
    clear: both;
  }
  
  [class*='col-'] {
    float: left;
  }

  .col-sm-3 {
    width: 25%;
  }

  .col-sm-7 {
    width: 58.33333333%;
  }

  .col-sm-por-31 {
    width: 31%;
  }

  .col-sm-por-offset-3 {
    margin-left: 3%;
  }

}

a {
  text-decoration: none;
  color: #ffffff;  
}

p {
  line-height: 1.5;
}

ul {
  list-style: none;
}

section a {
  color: #007BFF;
}

.view-desktop {
  display: none;
}

.view-mobile {
  display: block;
}


.bg-repeat {
  background:#ff7070;
  color: #ffffff;
}

.text-center {
  text-align: center;
}

.right {
  float: right;
}

.btn {
  background-color: #20c433; /*#21b935*/
  border-radius: 5px;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  transition: background-color 200ms;      
}

.btn:hover {
  background-color: #3adf4d;
}
/* mobile style */

header>nav {
  padding: 3% 3.5%;
}

header>nav>a {
  font-family: 'Berkshire Swash', cursive;
  font-size: 1.5em;
  position: relative;
  display: inline-block;
  padding: 2.5% 0;
}

h1 {
  font-size: 4.8rem;
  font-weight: 300;
}

h2 {
  font-size: 2.8rem;
  font-weight: 500;
}

h3 {
  font-size: 2rem;
  font-weight: 500;
}

.bg-img {
  background-image: url('../assets/img/8.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.bg-img>div {
  padding: 18.5% 1.2%;
}

.main-icon {
  border: .5px solid #ffffff;
  border-radius: 5px;
  color: #fdfdfd;  
  display: inline-block;
  padding: 2% 4%;
}

.main-icon>i {
  font-size: 30px;
}

section {
  padding: 20px;
}

section p {
  font-size: 1.1rem;
  margin-top: 2px; 
}

section>span.btn {
  font-size: 1.4rem;
  padding: 4% 5%;
}

section>div {
  border: 1px solid #d8d4d4;
  border-radius: 6px;
  margin: 5vh 0;  
}

section>div>figure>img {
  border-top-right-radius: 6px;
  border-top-left-radius: 6px; 
  width: 100%;
}  
section>div>div {
  padding: 20px 20px;
}

.btn-container {
  background-color: #f8f8f8;
  border-top: 1px solid #e9e4e4;
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;  
  padding: 15px 20px;
}

section>div>div>span.btn {
  font-size: 1.2rem;
  padding: 3% 4%;
}

footer {
  padding: 40px;
}

/* DESKTOP STYLE */

@media (min-width: 768px){
  .view-desktop {
    display: block;
  }
  
  .view-mobile {
    display: none;
  }

  li {
    cursor: pointer;
    float: left;
    margin: 0 2px;
    padding: 5px 15px;
    transition: border 100ms;
  }

  li:hover {
    border-bottom: 2px solid white;
    padding-bottom: 7px;
  } 

  header>nav {
    padding-top: 1.5%;
    padding-bottom: 1.5%;    
  }

  header>nav>a {
    padding: 0;
  }

  .bg-img>div {
    padding: 3%;
    height: 45vh;
  }

  section>span.btn {
    padding: 2% 3%;
  }
}

/* style js */

@media (max-width:768px) {
  .menu-hidden {
    display: none;
  }
  
  .menu-visible {
    background-color: #d49b9b;  
    display: block;
    position: absolute;
    padding: 0;
    text-align: center;
    top: 110px;
    left: 40%;
    width: 60%;
  }
  
  .menu-visible>li {
    cursor: pointer;
    font-size: 1.8rem;
    padding: 10px 20px;
    transition: background-color 200ms ;    
  }  
  
  .menu-visible>li:hover {
    background-color: #9e4053;
  }
}

