
* {
  box-sizing: border-box;  
  font-family: 'Roboto', sans-serif;
  margin: 0;
}

/* GRID */

@media (min-width: 768px) {
  .container {
    margin: 1% auto;
    max-width: 1200px;
    width: 100%;
  }
  
  .row::after {
    content: "";
    display: table;
    clear: both;
  }
  
  [class*='col-'] {
    float: left;
  }

  .col-sm-3 {
    width: 25%;
  }

  .col-sm-7 {
    width: 58.33333333%;
  }

  .col-sm-por-31 {
    width: 31%;
  }

  .col-sm-por-offset-3 {
    margin-left: 3%;
  }

}

a {
  text-decoration: none;
  color: #ffffff;  
}

p {
  line-height: 1.5;
}

section a {
  color: #007BFF;
}

.view-desktop {
  display: none;
}

.view-mobile {
  display: block;
}


.bg-repeat {
  background:rgb(255, 112, 112);
  color: #ffffff;
}

.text-center {
  text-align: center;
}

.right {
  float: right;
}
  /* background-color: #007BFF; */
  /*   */
.btn {
  background-color: rgb(33, 185, 53);
  border-radius: 5px;
  color: #ffffff;
  display: inline-block;
}

/* mobile style */

header>nav {
  padding: 3% 3.5%;
}

header>nav>a {
  font-family: 'Berkshire Swash', cursive;
  font-size: 1.5em;
  position: relative;
  display: inline-block;
  padding: 2.5% 0;
}

h1 {
  font-size: 4.8rem;
  font-weight: 300;
}

h2 {
  font-size: 2.8rem;
  font-weight: 500;
}

h3 {
  font-size: 2rem;
  font-weight: 500;
}

.bg-img {
  background-image: url('../assets/img/8.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.bg-img>div {
  padding: 18.5% 1.2%;
}

.main-icon {
  border: .5px solid #ffffff;
  border-radius: 5px;
  color: #fdfdfd;  
  display: inline-block;
  padding: 2% 4%;
}

.main-icon>i {
  font-size: 30px;
}

section {
  padding: 20px;
}

section p {
  font-size: 1.1rem;
  margin-top: 2px; 
}

section>span.btn {
  font-size: 1.4rem;
  padding: 4% 5%;
}

section>div {
  border: 1px solid #d8d4d4;
  margin: 5vh 0;  
}

section>div>figure>img {
  width: 100%;
}  
section>div>div {
  padding: 20px 20px;
}

.btn-container {
  border-top: 1px solid #d8d4d4;
  padding: 15px 20px;
}

section>div>div>span.btn {
  font-size: 1.2rem;
  padding: 3% 4%;
}

footer {
  padding: 40px;
}

/* DESKTOP STYLE */

@media (min-width: 768px){
  .view-desktop {
    display: block;
  }
  
  .view-mobile {
    display: none;
  }

  ul {
    list-style: none;
  }

  li {
    float: left;
    margin: 5px 10px;
    padding: 5px;
  }

  header>nav {
    padding-top: 1.5%;
    padding-bottom: 1.5%;    
  }

  header>nav>a {
    padding: 0;
  }

  .bg-img>div {
    padding: 3%;
    height: 45vh;
  }

  section>span.btn {
    padding: 2% 3%;
  }
}
